<section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">Options :</div>

		<article class="postcard light blue" style="cursor: pointer;" routerLink="/Scan">
			<a class="postcard__img_link">
				<img class="postcard__img" src="../../../assets/scanner.png"  alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a> Scanner Un Code QR </a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Scanner un Code Qr avec votre appreil photo
					</time>
				</div>
				<div class="postcard__bar"></div>
			</div>
		</article>
		<article class="postcard light red" style="cursor: pointer;" routerLink="/Generate">
			<a class="postcard__img_link">
				<img class="postcard__img" src="../../../assets/qrcode.png" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><a>Créer un Code QR</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Créer un code QR et télécharger lui
					</time>
				</div>
				<div class="postcard__bar"></div>
			</div>
		</article>
		<article class="postcard light green" style="cursor: pointer;" routerLink="/Articles">
			<a class="postcard__img_link">
				<img class="postcard__img" src="../../../assets/liste.png" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a>List des articles</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Consulter la liste des article et modifier
					</time>
				</div>
				<div class="postcard__bar"></div>
			</div>
		</article>
	</div>
</section>
